<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<header>
						<h1>About Me</h1>
					</header>
					<br><br>
					<p> <b><i>Olubunmi is a certified project manager with more than 7 years experience in Project management, business development and stakeholders management. Olubunmi is presently atteneding Seneca College to purpsue a degree in Business Information Technology. He has a
						passion for soccer, playing chess and strategic thinking, he is always looking for new ways
						to broaden his knowledge and abilities in the field of business information.</i></b></p>
					<br>
						<h5>
						<ul>Name: Olubunmi Adedeji </ul>
						<ul>Student Number: 130060221 </ul>
						<ul>Program: Postgraduate Certificate in Business Information Technology </ul>
						<ul>College: Seneca College, Toronto, ON </ul>
					</h5>

		<!-- End your code here  -->



	</main>
</div>